**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
**/*.user
**/*.suo
**/*.sln.docstates
.vscode
.github
README.md
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.local
